<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.cdnfonts.com/css/schibsted-grotesk" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aviva Project Allocation Tracker</title>
</head>
<body>

<!-- Header Banner -->
<div class="header-banner">
  <a href="/" class="header-logo-link">
    <img src="https://static.aviva.io/content/dam/aviva-corporate/images/article-page-and-carousel-840-x-473/different-sized-images/aviva-primary-logo-transparent-blue-240-135px.svg" 
         alt="Aviva Logo">
  </a>
    <h1>Aviva Project Allocation Tracker</h1>
</div>

<!-- White spacer -->
<div style="height: 40px;"></div>

<!-- Warning & Image Card Section -->
<div class="card-container">
  <div class="card">
    <img src="https://img.officetimeline.com/uploads/assets/how_to_read_a_gantt_chart_a9b363caf9.png" alt="decorative project management image" class="card-image" style="max-width: 50%; height: auto;">
    <div class="card-text">
  <h1 style="background-color: var(--aviva-yellow);">Welcome to Aviva's Project Allocation Tracker</h1>
  <p>This system is for internal employee usage only. By using this system, you agree to our terms and conditions. All misuse will be reported.</p>
</div>
  </div>
</div>

<!-- Log In and Sign Up Buttons -->
 <div style="display: flex; justify-content: center; gap: 20px; margin-top: 40px;">
    <a href="/login" class="blue-button">Log In</a>
    <a href="/signup" class="blue-button">Sign up</a>
  </div>
  
<!-- White spacer -->
<div style="height: 40px;"></div>

<!-- Footer -->
<footer class="footer">
  <a href="https://www.aviva.co.uk/services/about-our-business/products-and-services/privacy-policy/" target="_blank">Privacy Policy</a>
  <a href="https://static.aviva.io/content/dam/aviva-corporate/documents/socialpurpose/pdfs/aviva-modern-slavery-statement-2024.pdf" target="_blank">Modern Slavery Statement</a>
  <a href="https://www.aviva.com/legal/" target="_blank">Legal</a>
</footer>
</div>
</body>
</html>

